body{
    margin: 0;
    background-color: rgb(122, 248, 110);
}
#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#titre{
    flex: 1;
    display: flex;
    justify-content: center;
}
.centre{
    align-self: center;
}
#corps{
    flex: 4;
    display: flex;
}
#questionnaire{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#ancienMessage{
    flex: 1;
    display: flex;
    flex-direction: column;
}
form{
    margin-left: 10px;
}